PORT=3000
NODE_ENV=development
SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
DATABASE_URL=
PGHOST=localhost
PGPORT=5432
PGDATABASE=lotterydb
PGUSER=postgres
PGPASSWORD=
